<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/administration/style.css">
    <title>Admin</title>
</head>

<body>
    <div class="content">
        <div class="intro">
            <h1>Admin panel</h1>
            <h3>Your changes will be permanent</h3>
        </div>
        <div class="actions">
            <div class="add-user"><button id="add-user">Add user</button></div>
            <div class="message-to-all"><button id="message2all">Message to all clients</button></div>
            <div class="shutdown"><button id="shutdown">Shutdown servers</button></div>
            <div class="logout">
                <a href="/api/logout">
                    <button id="logout">Logout</button>
                </a>
            </div>
        </div>
        <div class="table-container">
            <table class="users">
                <% for (var i=0; i < users.length; i++){ %>
                    <tr data-user-id="<%= users[i].id %>" class="user-container">
                        <th class="fullname">
                            <input type="text" class="fullname-input" value="<%= users[i].fullname %>">
                        </th>
                        <th class="name">
                            <input type="text" class="name-input" value="<%= users[i].name %>">
                        </th>
                        <th class="email">
                            <input type="text" class="email-input" value="<%= users[i].email %>">
                        </th>
                        <th class="new-password"><input type="password" class="new-password-input" placeholder="Password"></th>
                        <th class="verified">
                            <select class="verified-select">
                                <option value="true" <%=users[i].verified ? 'selected' : '' %>>True</option>
                                <option value="false" <%=users[i].verified ? '' : 'selected' %>>False</option>
                            </select>
                        </th>
                        <th>
                            <button class="save-user">Save</button>
                        </th>
                        <th><button class="delete-user">Delete</button></th>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>
    <script src="/administration/admin.js"></script>
</body>

</html>